@font-face {
  font-family: RobotoBold;
  src: url(./fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Light.ttf);
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #a4a4a4;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex-grow: 1;
}

.title {
  font-family: RobotoBold Arial, Helvetica, sans-serif;
  color: #111111;
  font-size: 65px;
  text-align: center;
  margin: 0;
  padding: 30px;
}

.grid-container {
  height: 400px;
  width: 400px;
  flex: 0 1 auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px;
}

.cell {
  background-color: #ffffff;
  user-select: none;
}

.button-container {
  display: flex;
  gap: 16px;
  width: 400px;
  height: 100px;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.button {
  font-family: Roboto Arial, Helvetica, sans-serif;
  height: 35px;
  width: 125px;
  color: #202020;
  border-radius: 5px;
  border: 0;
  box-shadow: 0 0 10px;
  flex: 1;
}

button:hover {
  cursor: pointer;
}

footer {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #505050;
  color: #e0e0e0;
  font-family: Roboto Arial, Helvetica, sans-serif;
}

footer a {
  color: #e0e0e0;
}
