@font-face {
  font-family: RobotoBold;
  src: url(./fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Light.ttf);
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #a4a4a4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30.15px;
}

.title {
  font-family: RobotoBold Arial, Helvetica, sans-serif;
  color: #101010;
  font-size: 45px;
  text-align: center;
  margin-bottom: 0;
}

.main-content {
  display: flex;
  flex: 1;
}

.grid-container {
  height: 400px;
  width: 400px;
  flex: 0 1 auto;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  background-color: #ffffff;
}

.button-container {
  display: flex;
  gap: 16px;
}

.button {
  height: 35px;
  width: 125px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 0;
}

button:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
